*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 80%;
  margin:  2% auto;
}

.margin1 {
  margin-bottom: 1%;
}

.header-setup {
  height: 100px;
  background-color: pink;
}

.section1-setup {
  height: 300px;
  background-color: orange;
}

.margin2 {
  margin-bottom: 0.5%;
}

.float-box {
  height: 500px;
  background-color: blue;
}

.pre-float {
  height: 100px;
  background-color: lightblue;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float {
  float: left;
  width:20%;
  height: 380px;
  background-color: lightblue;
}

.float2 {
  float: left;
  width:58%;
  height: 380px;
  background-color: lightblue;
}
.margin-right {
  margin-right: 1%;
}
